$bg: #f5f6f7;
#root {
    background: $bg;
    width: 100vw;
    height: 100vh;
}
@keyframes running-animal {
    0% {
        background: repeating-linear-gradient(45deg, #42bd94, #ebf8e1 10%, #42bd94 20%);
    }
    50% {
        background: repeating-linear-gradient(45deg, #ebf8e1, #42bd94 10%, #ebf8e1 20%);
    }
    100% {
        background: repeating-linear-gradient(45deg, #42bd94, #ebf8e1 10%, #42bd94 20%);
    }
}
.GraphCard {
    background: #fff;
    border-radius: 4px;
    /* border: #d59cf5 solid 2px; */
    width: 100%;
    height: 50px;
    cursor: pointer;

    margin-bottom: 20px;
    box-shadow: 5px 5px 5px #bbb9;
    &:hover {
        background: #d59cf555;
    }
    .state {
        background: #d5f2d4;
        width: 6px;
        height: 100%;
        float: left;
        display: inline-block;
        // position: absolute;
        left: 0px;
        /* bottom: 2px; */
        border-radius: 4px 0px 0px 4px;

        &.waiting {
            background: #ccc;
        }
        &.running {
            background: #42bd9433;
        }
        &.failure {
            background: pink;
        }
        &.success {
            background: #42bd94;
        }
        // box-sizing: content-box;
    }
    .text {
        float: left;
        padding-left: 15px;
        font-size: 20px;
        font-weight: 500;
        line-height: 52px;
    }
}
.TinyDagContainer {
    // width: 100% !important;
    // height: 100% !important;
    width: 100vw !important;
    height: 100vh !important;
    background: $bg;
    .var {
        width: 100%;
        height: 100%;
        cursor: auto;
        .container {
            box-sizing: content-box;
            width: 28px;
            height: 28px;
            margin: auto;
            background: #fff;
            border-radius: 3px;
            // border: #f8a8b5 solid 2px;
            border: #ccc solid 2px;
            &.Submit {
                border-color: #ccc;
            }
            &.Running {
                border-color: #42bd9433;
            }
            &.Success {
                border-color: #42bd94;
            }
            &.Failure, &.lock {
                border-color: pink;
            }
            &.wait {
                border-color: #ccc;
            }
            &.finish {
                border-color: #42bd94;
            }
            font-weight: 600;
            line-height: 28px;
            cursor: pointer;
            text-align: center;
            &:hover {
                background: #f8a8b555;
            }
        }
    }

    .varProduct {
        width: 100%;
        height: 100%;
        cursor: auto;
        .container {
            box-sizing: content-box;
            width: 28px;
            height: 28px;
            margin: auto;
            background: #fff;
            border-radius: 3px;
            border: #a8b5f8 solid 2px;
            cursor: pointer;
            font-weight: 600;
            line-height: 28px;
            cursor: pointer;

            &:hover {
                background: #a8b5f855;
            }
        }
    }
    .function {
        background: #fff;
        border-radius: 4px;
        /* border: #d59cf5 solid 2px; */
        width: 100%;
        height: 100%;
        cursor: pointer;
        line-height: 25px;
        padding-left: 15px;
        padding-right: 10px;
        box-shadow: 5px 5px 5px #bbb9;

        overflow: hidden;
        text-overflow: ellipsis;
        white-space:nowrap;

    
        //     overflow:hidden;
        // text-overflow:ellipsis;
        // white-space:nowrap
        // box-sizing: content-box;
        &:hover {
            background: #d59cf555;
        }
        .state {
            background: #ccc; // #d5f2d4;
            width: 6px;
            height: 100%;
            display: inline-block;
            position: absolute;
            left: 0px;
            /* bottom: 2px; */
            border-radius: 4px 0px 0px 4px;
            &.Submit {
                background: #ccc;
            }
            &.Running {
                animation: running-animal 0.5s ease infinite;
                // // background: #42bd9433;
                // animation: move 1s linear infinite;
                // background-image: linear-gradient(
                //     135deg,
                //     #1890ff 0%,
                //     transparent 25%,
                //     #1890ff 50%,
                //     transparent 75%,
                //     #1890ff 100%
                // );
                // background: linear-gradient(transparent 0%, transparent 50%, #42bd94 50%, #9fa5a3 70%, transparent 70%, transparent 100%);
            }
            &.Success {
                background: #42bd94;
                // background: linear-gradient(-25deg, #e6ebec 0%,#e6ebec 25%, #98c2d1 25%,#98c2d1 50%, #23d5ab 75%, #23d5ab 100%);
                // background-size: 100% 100%;
            }
            &.Failure {
                background: pink;
            }
            &.wait {
                background: #ccc;
            }
            &.finish {
                background: #42bd94;
            }
        }
    }
}

.GraphHistory {
    .ant-drawer-header {
        background: #243a53;
        .ant-drawer-title {
            font-weight: 700;
            color: #fff;
            text-align: center;
            user-select: none;
        }
        .anticon-wifi {
            font-size: 24px;
            cursor: pointer;
            float: left;
            color: #ccc;
            &.connected {
                color: #1da165;
            }
        }
        button {
            color: #fff;
            cursor: pointer;
        }
    }
}

.StateDot {
    background: #f8a8b5;
    cursor: pointer;
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 2px;
    border-radius: 100px;
    &.Submit {
        background: #ccc;
    }
    &.Running {
        background: #42bd9433;
    }
    &.Success {
        background: #42bd94;
    }
    &.Failure {
        background: pink;
    }
    &.wait {
        background: #ccc;
    }
    &.finish {
        background: #42bd94;
    }
}
